.navbar-alura {
    justify-content: space-between;
    background-color: lightblue;
    background-size: cover;
    padding: 3px 0px;
    height: 70px;
}

.navbar-alura .navbar-collapse {
    flex-grow: 0;
}

.navbar-alura .navbar-brand img {
    height: 48px;
    width: 32px;
    left: 16px;
    top: 24px;
    border-radius: 0px;
}